In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("E:\\EYE_TRACKING_PYTHON\\Face_Recognition_flask\\attendance.csv")

In [4]:
df.head(3)

   Serial Number          Name              Time  Action
0              1  Debmalya Ray  02-12-2024 14:59   entry
1              2  Debmalya Ray  02-12-2024 15:16    exit
2              3  Debmalya Ray  02-12-2024 15:56   entry